<launch> 
  <node pkg="pr2_hardware_test_monitor" type="pr2_hw_test_monitor" name="monitor" output="screen" >
    <rosparam command="load" file="$(find pr2_hardware_test_monitor)/test/config/ecat_listener.yaml" />
  </node>

  <!-- Need heartbeat in order to work -->
  <node pkg="rostopic" type="rostopic" name="heartbeat_pub"
        args="pub /heartbeat std_msgs/Empty -r 1" />

  <!-- Asserts we fail on 10+ drops   -->
  <test test-name="dropped_packet_test" time-limit="90"  
        pkg="pr2_hardware_test_monitor"
        name="test_monitor"
        type="dropped_packet_test.py" />
  
  <!-- Asserts don't fail on only one packet dropped -->
  <test test-name="single_dropped_packet_test" time-limit="90"  
        pkg="pr2_hardware_test_monitor"
        name="test_monitor"
        type="dropped_packet_test.py" >
    <param name="num_drops" value="1" />
  </test>

  <!-- Asserts we can filter out late packets -->
  <test test-name="late_packet_test"
        time-limit="90"  
        pkg="pr2_hardware_test_monitor"
        name="test_monitor"
        type="dropped_packet_test.py" >
    <param name="num_drops" value="15" />
    <param name="num_lates" value="12" />
  </test>

  <!-- Asserts we fail for drops - lates > 10 -->
  <test test-name="late_packet_test_fail"
        time-limit="90"  
        pkg="pr2_hardware_test_monitor"
        name="test_monitor"
        type="dropped_packet_test.py" >
    <param name="num_drops" value="15" />
    <param name="num_lates" value="3" />
    <param name="increasing_drops" value="true" />
  </test>

  <!-- Asserts we fail for lots of drops - lates > 10 -->
  <test test-name="late_packet_test_fail2"
        time-limit="90"  
        pkg="pr2_hardware_test_monitor"
        name="test_monitor"
        type="dropped_packet_test.py" >
    <param name="num_drops" value="50" />
    <param name="num_lates" value="0" />
    <param name="increasing_drops" value="true" />
  </test>
</launch>
