<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="joint_qualification_controllers/CheckoutController" />
    <param name="timeout" type="double" value="30.0" />
  </group>

  <node pkg="qualification" type="visual_verifier.py" name="visual_ok" 
        machine="localhost"
        args="$(find qualification)/tests/caster_test/view.rviz" />

  <node pkg="pr2_controller_manager" type="spawner" args="test_controller" name="check_spawner" />
  
  <node pkg="qualification" type="robot_checkout.py" name="caster_checkout" >
    <rosparam command="load"
              file="$(find qualification)/tests/caster_test/caster_check_data.yaml" />
  </node>
</launch>
