<launch>
  <include file="$(find qualification)/tests/init.machine" />

  <!-- configure_mcbs -->
  <node machine="test_host" pkg="qualification" type="mcb_prog_conf.py"
        name="caster_conf" args="-c -n 1 --motor=fl_caster_l_wheel_motor,0" />

  <node pkg="qualification" type="confirm_conf.py"
        name="confirm_conf" output="screen"/>
</launch>
