<launch>
  <group ns="test_controller" clear_params="true">
    <param name="type" type="string" value="joint_qualification_controllers/GearMeshController" />
    <param name="velocity" type="double" value="1.5" />
    <param name="runtime" type="double" value="100000" />
    <param name="interval_period" type="double" value="12" />

    <group ns="velocity_controller" >
      <param name="joint" type="string" value="r_forearm_roll_joint" />
      <param name="pid/p" type="double" value="1.0" />
      <param name="pid/i" type="double" value="5.0" />
      <param name="pid/d" type="double" value="0.0" />
      <param name="pid/i_clamp" type="double" value="0.5" />
    </group>
  </group>
  
  <node pkg="pr2_controller_manager" type="spawner"
        args="test_controller" name="hyst_spawner"  />
  <node pkg="qualification" type="hysteresis_sinesweep_plot.py"
        name="hyst_analysis" />
</launch>
