<launch>
  <include file="$(find life_test)/shoulder_ua_test/left_arm_config.launch" />

  <!-- Commands arm to random positions -->
  <node pkg="life_test" type="collision_free_left_arm_cmder.py" name="arm_cmder_no_collision" />

  <!-- FA roll cmder -->
  <rosparam command="load"
            file="$(find pr2_controller_configuration)/pr2_joint_effort_controllers.yaml" />
  <node pkg="pr2_controller_manager" type="spawner"
        args="--wait-for=calibrated l_forearm_roll_effort_controller"
        name="fa_roll_spawner" />
  <node pkg="life_test" name="upperarm_cmder" type="upperarm_cmder.py"
        args="--left" />
</launch>
