<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_transmission_check)/test/urdf/upperarm.urdf.xacro'" />
  
  
  <node pkg="pr2_transmission_check" type="pr2_transmission_check" name="pr2_transmission_check" />
  
  <test test-name="ua_trans_nominal" time-limit="30" 
        pkg="pr2_transmission_check" 
        name="trans_nominal" 
        type="trans_error_test.py" />

  <test test-name="ua_trans_error_flex" time-limit="30" 
        pkg="pr2_transmission_check" 
        name="trans_error_flex" 
        type="trans_error_test.py" >
    <param name="flex_error" value="true" type="bool" />
  </test>
  
  <test test-name="ua_trans_error_roll" time-limit="30" 
        pkg="pr2_transmission_check" 
        name="trans_error_flex" 
        type="trans_error_test.py" >
    <param name="roll_error" value="true" type="bool" />
  </test>

    <test test-name="ua_trans_warn_flex" time-limit="30" 
        pkg="pr2_transmission_check" 
        name="trans_warn_flex" 
        type="trans_error_test.py" >
    <param name="flex_warn" value="true" type="bool" />
  </test>
  
  <test test-name="ua_trans_warn_roll" time-limit="30" 
        pkg="pr2_transmission_check" 
        name="trans_warn_flex" 
        type="trans_error_test.py" >
    <param name="roll_warn" value="true" type="bool" />
  </test>

    
</launch>
