<launch>
  <!-- 5000us timeout for late packets -->
  <param name="pr2_etherCAT/realtime_socket_timeout" value="5000" />

  <!-- Launch pr2_etherCAT on test host -->
  <node machine="test_host" pkg="pr2_etherCAT" type="pr2_etherCAT"
        launch-prefix="pr2-grant"
        args="-i ecat0 -x robot_description" name="pr2_etherCAT" />

  <include file="$(find pr2_controller_manager)/controller_manager.launch" />
  <param name="pr2_controller_manager/mechanism_statistics_publish_rate" type="double" value="20" />
  <param name="pr2_mechanism_diagnostics/init_trans_check" type="bool" value="true" />

  <!-- Transmission checking system -->
  <node pkg="pr2_transmission_check" name="pr2_transmission_check" type="pr2_transmission_check" />
</launch>
