<launch>
  <!-- Launch pr2_etherCAT on test host, as root -->
  <node machine="test_host" pkg="pr2_etherCAT" type="pr2_etherCAT"
        launch-prefix="pr2_grant"
        args="-i eth0 -x robot_description" name="pr2_etherCAT" />

  <include file="$(find pr2_controller_manager)/controller_manager.launch" />
  <param name="pr2_controller_manager/mechanism_statistics_publish_rate" type="double" value="100" />
</launch>
