<launch>
  
  <!-- Camera -->
  <node name="wge100_camera" pkg="wge100_camera" type="wge100_camera_node" respawn="false" output="screen">
    <param name="camera_url" type="str" value="any://@10.68.0.10#lan0"/>
    <param name="ext_trig" type="bool" value="False"/>
    <param name="trig_rate" type="double" value="29.412" />
    <param name="auto_gain" type="bool" value="True" />
    <param name="auto_exposure" type="bool" value="True" />
    <param name="brightness" type="double" value="32" />
  </node>

  <!-- Test -->
  <node pkg="qualification" type="imager_check.py" name="imager_check" output="screen" />
  <param name="imager_check/red_source" type="bool" value="False"/>

</launch>

