<launch>
  <node name="load_firmware_ether" pkg="qualification" type="test_caller.py" args="rosrun qualification load_firmware_ether.py" output="screen"> 
    <env name="IMPACTDIR" value="$(find qualification)/tests/wge100_camera_test/impact"/>
    <env name="WGE100_CAMERA_URL" value="any://@10.68.0.10#lan0"/>
    <param name="post_delay" type="double" value="5" />
  </node>
</launch>

