<launch>
  <!-- Squareware generator -->
  <node name="$(anon spawner-square)" pkg="pr2_controller_manager" type="spawner" output="screen" args="square"/>
  <rosparam>
    square:
      type: SquareVelocityController
      joint_name: dk_joint1
      frequency: 20.0
      amplitude: 0.05
      velocity:  0.50
      p : 0.05
      i : 0.00
      d : 0.002
  </rosparam>

  <!-- Motor resitance recorder -->
  <node name="$(anon spawner-resistance)" pkg="pr2_controller_manager" type="spawner" output="screen" args="resistance"/>
  <rosparam>
    resistance:
      type: MotorResistanceRecorder
      actuator_name: dk_motor
  </rosparam>


  <!-- Publishing trigger -->
  <node name="$(anon spawner-trigger)" pkg="pr2_controller_manager" type="spawner" output="screen" args="trigger"/>
  <rosparam>
    trigger:
      type: DigitalTriggerController
      digital_out_name: dk_motor_publish_motor_trace
  </rosparam>

</launch>

